
minecraft/.fabric/

minecraft/.mixin.out/

minecraft/craftpresence/

minecraft/data/

minecraft/logs/

minecraft/mods.backup/

minecraft/saves/

minecraft/screenshots/

minecraft/testing/

minecraft/hs_err_pid19388.log

minecraft/hs_err_pid21588.log

minecraft/mobs_0.png

minecraft/pings_0.png

minecraft/options.txt

minecraft/servers.dat

minecraft/usercache.json

minecraft/waypoints_0.png

minecraft/chooser_0.png

mods/
