

.minecraft/saves/

.minecraft/logs/

.minecraft/crash-reports/

.minecraft/usercache.json

.minecraft/options.txt

.minecraft/.mixin.out/

.minecraft/.fabric/

.minecraft/icon.png

.minecraft/screenshots/

.minecraft/mods.backup/

.minecraft/chooser_0.png

.minecraft/mobs_0.png

.minecraft/waypoints_0.png

.minecraft/pings_0.png

.minecraft/realms_persistence.json

natives/

.minecraft/mods/mamiyaotaru/

.minecraft/craftpresence/

.minecraft/_AOF/

.minecraft/hs_err_pid13976.log

.minecraft/hs_err_pid25412.log

.minecraft/backup/

.minecraft/hs_err_pid17452.log
