
XaeroWaypoints/

XaeroWorldMap/

.vote2020_marker

options.txt

options.amecsapi.txt

patchouli_data.json

servers.dat_old

slotlock.json

usercache.json

saves/

rrp.debug/

mods/

logs/

generated/

craftpresence/

.mixin.out/

.jumploader/

.fabric/

local/

servers.dat

config/jmx.properties
